<footer class="signage_footer">
  <div class="page-width">
    <div class="top_footer">
      <div class="cnt_info">
        <div class="clogo">
          {% if section.settings.flogo != blank  %}
          <div class="backimg" style="background-image:url({{ section.settings.flogo | img_url:'200x' }});">
            <svg class="transparent_svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 91">
              <rect class="cls-1" x="0.5" y="0.5" width="155" height="90"></rect>
            </svg>
          </div>
          {% endif %}  
        </div>
        <div class="cinfo">
          {{ section.settings.logoinfo }}
          <div class="scall">
          {% if section.settings.phone != blank %}  
            <a href="tel:{{ section.settings.phone }}">
              <div class="scicn">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="29" height="29" rx="7.5" stroke="#262424"></rect>
                  <path d="M17.4286 14.5714V12.8571H15.7143V11.7143H17.4286V10H18.5714V11.7143H20.2857V12.8571H18.5714V14.5714H17.4286ZM19.6857 20.2857C18.4571 20.2857 17.2594 20.0118 16.0926 19.464C14.9257 18.9162 13.8924 18.1924 12.9926 17.2926C12.0928 16.3928 11.369 15.3594 10.8211 14.1926C10.2733 13.0257 9.99962 11.8282 10 10.6C10 10.4286 10.0571 10.2857 10.1714 10.1714C10.2857 10.0571 10.4286 10 10.6 10H12.9143C13.0476 10 13.1667 10.0429 13.2714 10.1286C13.3762 10.2143 13.4381 10.3238 13.4571 10.4571L13.8286 12.4571C13.8476 12.5905 13.8451 12.712 13.8211 12.8217C13.7971 12.9314 13.7425 13.029 13.6571 13.1143L12.2857 14.5143C12.6857 15.2 13.1857 15.8429 13.7857 16.4429C14.3857 17.0429 15.0476 17.5619 15.7714 18L17.1143 16.6571C17.2 16.5714 17.312 16.5072 17.4503 16.4646C17.5886 16.4219 17.7242 16.4099 17.8571 16.4286L19.8286 16.8286C19.9619 16.8571 20.0714 16.9215 20.1571 17.0217C20.2429 17.1219 20.2857 17.2385 20.2857 17.3714V19.6857C20.2857 19.8571 20.2286 20 20.1143 20.1143C20 20.2286 19.8571 20.2857 19.6857 20.2857Z" fill="#A19D9D"></path>
                </svg>
              </div>
              <p> {{ section.settings.phone }} </p>
            </a>
           {% endif %} 
          </div>
        {% if section.settings.emailtext != blank %} 
          <div class="scall"> 
            <a href="mailto:{{ section.settings.emailtext }}">
              <div class="scicn">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="29" height="29" rx="7.5" stroke="#262424"></rect>
                  <path d="M19.8 10H10.2C9.54 10 9.006 10.5625 9.006 11.25L9 18.75C9 19.4375 9.54 20 10.2 20H19.8C20.46 20 21 19.4375 21 18.75V11.25C21 10.5625 20.46 10 19.8 10ZM19.56 12.6562L15.318 15.4188C15.126 15.5438 14.874 15.5438 14.682 15.4188L10.44 12.6562C10.3798 12.6211 10.3272 12.5735 10.2851 12.5165C10.2431 12.4595 10.2126 12.3942 10.1955 12.3246C10.1785 12.255 10.1751 12.1825 10.1857 12.1114C10.1963 12.0404 10.2206 11.9724 10.2572 11.9114C10.2937 11.8505 10.3418 11.7979 10.3984 11.7569C10.4551 11.7158 10.5191 11.6872 10.5867 11.6727C10.6543 11.6582 10.724 11.6581 10.7916 11.6725C10.8592 11.6868 10.9233 11.7153 10.98 11.7562L15 14.375L19.02 11.7562C19.0767 11.7153 19.1408 11.6868 19.2084 11.6725C19.276 11.6581 19.3457 11.6582 19.4133 11.6727C19.4809 11.6872 19.5449 11.7158 19.6016 11.7569C19.6582 11.7979 19.7063 11.8505 19.7428 11.9114C19.7794 11.9724 19.8037 12.0404 19.8143 12.1114C19.8249 12.1825 19.8215 12.255 19.8045 12.3246C19.7874 12.3942 19.7569 12.4595 19.7149 12.5165C19.6728 12.5735 19.6202 12.6211 19.56 12.6562Z" fill="#A19D9D"></path>
                </svg>
              </div>
              <p>{{ section.settings.emailtext }}</p>
            </a>             
          </div>
         {% endif %}   
        </div>

        {% if section.settings.newslettr == true %}        
        <div class="cnewsletter dview">
          <div class="footer-block--newsletter">
            <div class="footer-block__newsletter">
              <h4 class="news_head"> {{ section.settings.newsheading }} </h4>
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{- 'general.footer_new.email_placeholder' | t -}}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <svg width="25" height="8" viewBox="0 0 25 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.3536 4.35356C24.5488 4.15829 24.5488 3.84171 24.3536 3.64645L21.1716 0.464468C20.9763 0.269206 20.6597 0.269206 20.4645 0.464468C20.2692 0.65973 20.2692 0.976313 20.4645 1.17157L23.2929 4L20.4645 6.82843C20.2692 7.02369 20.2692 7.34027 20.4645 7.53554C20.6597 7.7308 20.9763 7.7308 21.1716 7.53554L24.3536 4.35356ZM-4.37114e-08 4.5L24 4.5L24 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#A19D9D"></path>
                      </svg>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          </div>
        </div>
       {% endif %}   
      </div>

      <div class="menu_links">
        <div class="menu_inner">
          <div class="menu_items">
           {%- for block in section.blocks -%}   
            <div class="menu_item">
              {% if block.settings.menu_heading != blank %}
              <h4>{{ block.settings.menu_heading }}</h4>
               <span class="btm_line">&nbsp;</span>
              {% endif %} 
             
              <div class="mlinks">
              {%- for link in block.settings.menu.links -%}  
                <div class="mlink"><a href="{{ link.url }}">{{ link.title }}</a></div>
              {% endfor %}  
                {% comment %}
                <div class="mlink"><a href="#">careers</a></div>
                <div class="mlink"><a href="#">Lookbook</a></div>
                <div class="mlink"><a href="#">Magazine</a></div>
                <div class="mlink"><a href="#">Shop</a></div>
                <div class="mlink"><a href="#">Vouchers</a></div>
                {% endcomment %}
              </div>
            </div>
           {% endfor %}  
          </div>

          {% if section.settings.newslettr == true %}        
        <div class="cnewsletter mview">
          <div class="footer-block--newsletter">
            <div class="footer-block__newsletter">
              <h4 class="news_head"> {{ section.settings.newsheading }} </h4>
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{- 'general.footer_new.email_placeholder' | t -}}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <svg width="25" height="8" viewBox="0 0 25 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.3536 4.35356C24.5488 4.15829 24.5488 3.84171 24.3536 3.64645L21.1716 0.464468C20.9763 0.269206 20.6597 0.269206 20.4645 0.464468C20.2692 0.65973 20.2692 0.976313 20.4645 1.17157L23.2929 4L20.4645 6.82843C20.2692 7.02369 20.2692 7.34027 20.4645 7.53554C20.6597 7.7308 20.9763 7.7308 21.1716 7.53554L24.3536 4.35356ZM-4.37114e-08 4.5L24 4.5L24 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#A19D9D"></path>
                      </svg>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          </div>
        </div>
       {% endif %}  
          
         {% if section.settings.payment %} 
         {% if section.settings.paymenticon != blank %}  
          <div class="payment_icons">
            <div class="pyt_icn">
              <img src="{{ section.settings.paymenticon | img_url:'410x' }}">
            </div>
          </div>
         {% endif %} 
         {% endif %}  
        </div>
      </div>
    </div>
  </div>
  <div class="bottom_footer ">
    <div class="page-width">
      {% if section.settings.footertext != blank %}
      <div class="foo_copyright">{{ section.settings.footertext }}</div>
      {% endif %} 
      {% if section.settings.socialoption %}
    <div class="foo_social">
      {% if settings.social_facebook_link != blank %}  
        <div class="soc_icon">
          <a href="{{ settings.social_facebook_link }}">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="31" height="31" rx="7.5" stroke="#262424"></rect>
              <path d="M17.7334 11.992H19V10.084C18.3867 10.0272 17.7706 9.99919 17.154 10C15.3215 10 14.0683 10.996 14.0683 12.82V14.392H12V16.528H14.0683V22H16.5476V16.528H18.6092L18.9192 14.392H16.5476V13.03C16.5476 12.4 16.7363 11.992 17.7334 11.992Z" fill="#A19D9D"></path>
            </svg>
          </a>
        </div>
      {% endif %} 
      {% if settings.social_twitter_link != blank %}        
        <div class="soc_icon">
          <a href="{{ settings.social_twitter_link }}">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="31" height="31" rx="7.5" stroke="#262424"></rect>
              <path d="M22 12.1765C21.5215 12.3824 21.0057 12.5176 20.4713 12.5824C21.0182 12.2706 21.4407 11.7765 21.6396 11.1824C21.1238 11.4765 20.5521 11.6824 19.9493 11.8C19.4584 11.2941 18.7686 11 17.9857 11C16.5253 11 15.3322 12.1294 15.3322 13.5235C15.3322 13.7235 15.3571 13.9176 15.4006 14.1C13.1883 13.9941 11.2185 12.9882 9.90727 11.4647C9.67734 11.8353 9.54685 12.2706 9.54685 12.7294C9.54685 13.6059 10.0129 14.3824 10.7337 14.8235C10.2925 14.8235 9.88241 14.7059 9.52199 14.5294V14.5471C9.52199 15.7706 10.4417 16.7941 11.6597 17.0235C11.2686 17.1248 10.8581 17.1389 10.4603 17.0647C10.6291 17.5662 10.9597 18.0049 11.4055 18.3194C11.8514 18.6338 12.3901 18.8081 12.946 18.8176C12.0037 19.5238 10.8357 19.9055 9.63384 19.9C9.42256 19.9 9.21128 19.8882 9 19.8647C10.1807 20.5824 11.5851 21 13.0889 21C17.9857 21 20.6764 17.1529 20.6764 13.8176C20.6764 13.7059 20.6764 13.6 20.6702 13.4882C21.1922 13.1353 21.6396 12.6882 22 12.1765Z" fill="#A19D9D"></path>
            </svg>
          </a>
        </div>
       {% endif %}
      {% if settings.social_instagram_link != blank %}       
        <div class="soc_icon">
          <a href="{{ settings.social_instagram_link }}">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="31" height="31" rx="7.5" stroke="#262424"></rect>
              <path d="M18.75 10H12.25C10.4551 10 9 11.4551 9 13.25V19.75C9 21.5449 10.4551 23 12.25 23H18.75C20.5449 23 22 21.5449 22 19.75V13.25C22 11.4551 20.5449 10 18.75 10Z" stroke="#A19D9D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M18.1001 16.0907C18.1803 16.6317 18.0879 17.1841 17.836 17.6696C17.5842 18.155 17.1856 18.5486 16.6972 18.7945C16.2087 19.0404 15.6551 19.1259 15.1152 19.0391C14.5752 18.9522 14.0764 18.6972 13.6897 18.3106C13.303 17.9239 13.0481 17.4251 12.9612 16.8851C12.8744 16.3452 12.9599 15.7916 13.2058 15.3031C13.4517 14.8147 13.8453 14.4161 14.3307 14.1643C14.8162 13.9124 15.3686 13.82 15.9096 13.9002C16.4614 13.982 16.9723 14.2391 17.3667 14.6336C17.7612 15.028 18.0183 15.5389 18.1001 16.0907Z" stroke="#A19D9D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M19.0752 12.9248H19.0822" stroke="#A19D9D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      {% endif %} 
      {% if settings.social_linkedin_link != blank %}        
        <div class="soc_icon">
          <a href="{{ settings.social_linkedin_link }}">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="31" height="31" rx="7.5" stroke="#262424"></rect>
              <path d="M21.4444 9C21.857 9 22.2527 9.16389 22.5444 9.45561C22.8361 9.74733 23 10.143 23 10.5556V21.4444C23 21.857 22.8361 22.2527 22.5444 22.5444C22.2527 22.8361 21.857 23 21.4444 23H10.5556C10.143 23 9.74733 22.8361 9.45561 22.5444C9.16389 22.2527 9 21.857 9 21.4444V10.5556C9 10.143 9.16389 9.74733 9.45561 9.45561C9.74733 9.16389 10.143 9 10.5556 9H21.4444ZM21.0556 21.0556V16.9333C21.0556 16.2609 20.7884 15.6159 20.3129 15.1404C19.8374 14.6649 19.1925 14.3978 18.52 14.3978C17.8589 14.3978 17.0889 14.8022 16.7156 15.4089V14.5456H14.5456V21.0556H16.7156V17.2211C16.7156 16.6222 17.1978 16.1322 17.7967 16.1322C18.0855 16.1322 18.3624 16.2469 18.5666 16.4512C18.7708 16.6554 18.8856 16.9323 18.8856 17.2211V21.0556H21.0556ZM12.0178 13.3244C12.3643 13.3244 12.6967 13.1868 12.9417 12.9417C13.1868 12.6967 13.3244 12.3643 13.3244 12.0178C13.3244 11.2944 12.7411 10.7033 12.0178 10.7033C11.6692 10.7033 11.3348 10.8418 11.0883 11.0883C10.8418 11.3348 10.7033 11.6692 10.7033 12.0178C10.7033 12.7411 11.2944 13.3244 12.0178 13.3244ZM13.0989 21.0556V14.5456H10.9444V21.0556H13.0989Z" fill="#A19D9D"></path>
            </svg>
          </a>
        </div>
       {% endif %} 
      </div>
       {% endif %} 
    </div>
  </div>
</footer>
{% comment %}
{% if settings.scrlltext != blank %}
{% if template contains 'upload_your_logo' %}
          <div class="arrow-scroll scroll-home blackarrow">
            <a class="scrl" href="javascript:void(0)"> 
              <div class="arrow">&nbsp;</div>
              <div class="scroll">{{ settings.scrlltext }}</div>   
            </a>
           </div>

<style>
  .logo-bar-outer {
    margin-top: 10px;
}
</style>
           
{% endif %}
{% endif %}
{% endcomment %}

{% schema %}
{
  "name": "Sign Footer",
  "class": "sign-footer",
  "settings":[
    {
      "type": "image_picker",
      "id": "flogo",
      "label":"Logo"
    },
    {
      "type": "richtext",
      "id": "logoinfo",
      "label":"content"
    },
    {
      "type": "text",
      "id": "phone",
      "label":"Phone No"
    },    
    {
      "type": "text",
      "id": "emailtext",
      "label":"Email"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },    
    {
      "type": "checkbox",
      "id": "newslettr",
      "label":"Show Newsletter",
      "default":true
    },     
    {
      "type": "text",
      "id": "newsheading",
      "label":"Newsletter Heading"
    },
    {
      "type": "header",
      "content": "Payment image"
    },
    {
      "type": "checkbox",
      "id": "payment",
      "label":"Show Payment image",
      "default":true
    },    
    {
      "type": "image_picker",
      "id": "paymenticon",
      "label":"Image"
    },    
    {
      "type": "richtext",
      "id": "footertext",
      "label":"Footer text"
    },   
    {
      "type": "checkbox",
      "id": "socialoption",
      "label":"Show Social Icon",
      "default":true
    }    
],  
"blocks":[
   {
  "name":"menu",
  "type":"menu",
  "settings":[
    {
      "type": "text",
      "id": "menu_heading",
      "label":"Menu Heading"
    }, 
    {
      "type": "link_list",
      "id": "menu",
      "label":"Menu"
    } 
  ]  
  }
],  
  "presets": [
    {
      "name": "Sign Footer",
      "category": "Images"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
