<div class="our_blogs">
  <div class="page-width pad80">
    <div class="blog_head">
      {% if section.settings.b_heading != blank %}
      <h3> {{ section.settings.b_heading }} </h3>
       {% endif %} 
      <div class="vall dview">
       {% if section.settings.b_btnlink != blank and section.settings.b_btnname != blank %}
        <a href="{{ section.settings.b_btnlink }}" class="button button--primary"
          >{{ section.settings.b_btnname }}
          <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13826 9.8667L7.80449 5.32157C7.86647 5.27936 7.91564 5.22923 7.94919 5.17405C7.98273 5.11887 8 5.05973 8 5C8 4.94027 7.98273 4.88113 7.94919 4.82595C7.91564 4.77077 7.86647 4.72064 7.80449 4.67843L1.13826 0.133303C1.04503 0.0696661 0.926201 0.0263203 0.796819 0.00875317C0.667438 -0.00881394 0.53332 0.000187507 0.411446 0.034618C0.289572 0.0690484 0.185422 0.12736 0.112179 0.20217C0.0389369 0.27698 -0.000103628 0.364925 1.86637e-07 0.454871L-2.10711e-07 9.54513C-0.000104033 9.63507 0.0389365 9.72302 0.112179 9.79783C0.185421 9.87264 0.289572 9.93095 0.411446 9.96538C0.53332 9.99981 0.667437 10.0088 0.796819 9.99125C0.9262 9.97368 1.04503 9.93033 1.13826 9.8667Z" fill="#F5E9E9"></path>
          </svg>
        </a>
        {% endif %} 
      </div>
    </div>
    <div class="blogs_inner">
      <div class="blog_column">
        <div class="blog_item">
          {% assign article1 = section.settings.artcle_1 %}          
          <a href="{{ article1.url }}">
            <div class="blog_img">
              {% if article1.image != blank  %}
              <div class="backimg" style="background-image:url({{ article1.image | img_url:'700x' }});">
                <svg
                  class="transparent_svg"
                  data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 701 416"
                >
                  <rect class="cls-1" x="0.5" y="0.5" width="700" height="415"></rect>
                </svg>
              </div>
              {% endif %}  
            </div>
            <div class="blog_info">
              <div class="bl_info_inner">
                {% if article1.title != blank  %}
                <div class="blog_tt">
                  <h4>{{ article1.title }}</h4>
                </div>
                {% endif %}  
                <div class="blog_details">
                {% if article1.content != blank  %}                  
                  <p>
                    {{ article1.content |  truncate:200 | strip_html }}
                  </p>
                {% endif %}  
                </div>
                
                <div class="blog_author">
                  <div class="au_info">                
                    <img class="au_img" src="{{ article1.metafields.custom.blog_image }}">

                     {% if article1.metafields.custom.author_name != blank %}                    
                    <p class="au_name">{{ article1.metafields.custom.author_name }}</p>
                    {% endif %}
                
                  </div>
                  <div class="blog_more">
                    {% if section.settings.rdtext1 != blank  %}
                    <p>
                      {{ section.settings.rdtext1 }}
                      <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.13826 9.8667L7.80449 5.32157C7.86647 5.27936 7.91564 5.22923 7.94919 5.17405C7.98273 5.11887 8 5.05973 8 5C8 4.94027 7.98273 4.88113 7.94919 4.82595C7.91564 4.77077 7.86647 4.72064 7.80449 4.67843L1.13826 0.133303C1.04503 0.0696661 0.926201 0.0263203 0.796819 0.00875317C0.667438 -0.00881394 0.53332 0.000187507 0.411446 0.034618C0.289572 0.0690484 0.185422 0.12736 0.112179 0.20217C0.0389369 0.27698 -0.000103628 0.364925 1.86637e-07 0.454871L-2.10711e-07 9.54513C-0.000104033 9.63507 0.0389365 9.72302 0.112179 9.79783C0.185421 9.87264 0.289572 9.93095 0.411446 9.96538C0.53332 9.99981 0.667437 10.0088 0.796819 9.99125C0.9262 9.97368 1.04503 9.93033 1.13826 9.8667Z" fill="#F5E9E9"></path>
                      </svg>
                    </p>
                     {% endif %} 
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="blog_column">
        <div class="blog_item">
          {% assign article2 = section.settings.artcle_2 %}          
          <a href="{{ article2.url }}">
            <div class="blog_img">
            {% if article2.image != blank  %}              
              <div class="backimg" style="background-image:url({{ article2.image | img_url:'286x' }});">
                <svg
                  class="transparent_svg"
                  data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 287 356"
                >
                  <rect class="cls-1" x="0.5" y="0.5" width="286" height="355"></rect>
                </svg>
              </div>
             {% endif %} 
            </div>

            <div class="blog_info">
              <div class="bl_info_inner">
                {% if article2.title != blank  %}                 
                <div class="blog_tt">
                  <h4>{{ article2.title }}</h4>
                </div>
                {% endif %}
                {% if article2.content != blank  %}                
                <div class="blog_details">
                    <p>
                    {{ article2.content |  truncate:150 | strip_html }}
                  </p>
                </div>
                {% endif %}  
                <div class="blog_author">
                  <div class="au_info">
                    {% if article2.metafields.custom.blog_image != blank  %}                     
                    <img class="au_img" src="{{ article2.metafields.custom.blog_image }}">
                    {% endif %}  
                    {% if article2.metafields.custom.author_name != blank  %}                                  
                    <p class="au_name">{{ article2.metafields.custom.author_name }}</p>
                    {% endif %}
                    
                  </div>
                  <div class="blog_more">
                     {% if section.settings.readmoretext2 != blank  %}                     
                    <p>
                      {{ section.settings.readmoretext2 }}
                      <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.13826 9.8667L7.80449 5.32157C7.86647 5.27936 7.91564 5.22923 7.94919 5.17405C7.98273 5.11887 8 5.05973 8 5C8 4.94027 7.98273 4.88113 7.94919 4.82595C7.91564 4.77077 7.86647 4.72064 7.80449 4.67843L1.13826 0.133303C1.04503 0.0696661 0.926201 0.0263203 0.796819 0.00875317C0.667438 -0.00881394 0.53332 0.000187507 0.411446 0.034618C0.289572 0.0690484 0.185422 0.12736 0.112179 0.20217C0.0389369 0.27698 -0.000103628 0.364925 1.86637e-07 0.454871L-2.10711e-07 9.54513C-0.000104033 9.63507 0.0389365 9.72302 0.112179 9.79783C0.185421 9.87264 0.289572 9.93095 0.411446 9.96538C0.53332 9.99981 0.667437 10.0088 0.796819 9.99125C0.9262 9.97368 1.04503 9.93033 1.13826 9.8667Z" fill="#F5E9E9"></path>
                      </svg>
                    </p>
                     {% endif %}  
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="blog_item">
          {% assign article3 = section.settings.artcle_3 %}          
          <a href="{{ article3.url }}">
            <div class="blog_img">
            {% if article3.image != blank  %}               
              <div class="backimg" style="background-image:url({{ article3.image | img_url:'286x' }});">
                <svg
                  class="transparent_svg"
                  data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 287 356"
                >
                  <rect class="cls-1" x="0.5" y="0.5" width="286" height="355"></rect>
                </svg>
              </div>
              {% endif %}         
            </div>

            <div class="blog_info">
              <div class="bl_info_inner">
               {% if article3.title != blank  %}                
                <div class="blog_tt">
                  <h4>{{ article3.title }}</h4>
                </div>
               {% endif %}
               {% if article3.content != blank  %}               
                <div class="blog_details">
                    <p>
                    {{ article3.content |  truncate:150 | strip_html }}
                  </p>
                </div>
                {% endif %} 
                <div class="blog_author">
                  <div class="au_info">
                    {% if article3.metafields.custom.blog_image != blank  %}                     
                    <img class="au_img" src="{{ article3.metafields.custom.blog_image }}">
                    {% endif %} 
                {% if article3.metafields.custom.author_name != blank %}                   
                    <p class="au_name">{{ article3.metafields.custom.author_name }}</p>
                {% endif %}  
          
                  </div>
                  <div class="blog_more">
                    {% if section.settings.readmoretext3 != blank  %}                    
                    <p>
                      {{ section.settings.readmoretext3 }}
                      <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.13826 9.8667L7.80449 5.32157C7.86647 5.27936 7.91564 5.22923 7.94919 5.17405C7.98273 5.11887 8 5.05973 8 5C8 4.94027 7.98273 4.88113 7.94919 4.82595C7.91564 4.77077 7.86647 4.72064 7.80449 4.67843L1.13826 0.133303C1.04503 0.0696661 0.926201 0.0263203 0.796819 0.00875317C0.667438 -0.00881394 0.53332 0.000187507 0.411446 0.034618C0.289572 0.0690484 0.185422 0.12736 0.112179 0.20217C0.0389369 0.27698 -0.000103628 0.364925 1.86637e-07 0.454871L-2.10711e-07 9.54513C-0.000104033 9.63507 0.0389365 9.72302 0.112179 9.79783C0.185421 9.87264 0.289572 9.93095 0.411446 9.96538C0.53332 9.99981 0.667437 10.0088 0.796819 9.99125C0.9262 9.97368 1.04503 9.93033 1.13826 9.8667Z" fill="#F5E9E9"></path>
                      </svg>
                    </p>
                    {% endif %}  
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% if section.settings.b_btnlink != blank and section.settings.b_btnname != blank  %}
    <div class="vall mview">
        <a href="{{ section.settings.b_btnlink }}" class="button button--primary">{{ section.settings.b_btnname }}
          <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13826 9.8667L7.80449 5.32157C7.86647 5.27936 7.91564 5.22923 7.94919 5.17405C7.98273 5.11887 8 5.05973 8 5C8 4.94027 7.98273 4.88113 7.94919 4.82595C7.91564 4.77077 7.86647 4.72064 7.80449 4.67843L1.13826 0.133303C1.04503 0.0696661 0.926201 0.0263203 0.796819 0.00875317C0.667438 -0.00881394 0.53332 0.000187507 0.411446 0.034618C0.289572 0.0690484 0.185422 0.12736 0.112179 0.20217C0.0389369 0.27698 -0.000103628 0.364925 1.86637e-07 0.454871L-2.10711e-07 9.54513C-0.000104033 9.63507 0.0389365 9.72302 0.112179 9.79783C0.185421 9.87264 0.289572 9.93095 0.411446 9.96538C0.53332 9.99981 0.667437 10.0088 0.796819 9.99125C0.9262 9.97368 1.04503 9.93033 1.13826 9.8667Z" fill="#F5E9E9"></path>
          </svg>
        </a>
      </div>
     {% endif %} 
    
  </div>
</div>

{% schema %}
 {
   "name": "Top Blogs",
   "class": "top-blogs",
   "tag": "section",
   "settings":[
    {
     "type": "text",
     "id": "b_heading",
     "label": "Heading"
    }, 
    {
     "type": "text",
     "id": "b_btnname",
     "label": "Button Label"
    }, 
    {
     "type": "url",
     "id": "b_btnlink",
     "label": "Button Link"
    },
    {
     "type": "article",
     "id": "artcle_1",
     "label": "article 1"
    },
    {
     "type": "text",
     "id": "rdtext1",
     "label": "Read More text 1",
     "default":"Read More" 
    },
    {
     "type": "article",
     "id": "artcle_2",
     "label": "article 2"
    },
    {
     "type": "text",
     "id": "readmoretext2",
     "label": "Read More text 2",
     "default":"Read More" 
    },
    {
     "type": "article",
     "id": "artcle_3",
     "label": "article 3"
    },
    {
     "type": "text",
     "id": "readmoretext3",
     "label": "Read More text 3",
     "default":"Read More" 
    }
   ],
   "presets": [
     {
       "name": "Top Blogs",
       "category": "Images"
     }
   ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
